.st0 {
  fill: #f8d940;
}
.st1 {
  fill: #231f20;
}
.st2 {
  fill: #d8a170;
}
.st3 {
  fill: #ffffff;
}
.st4 {
  fill: #be2026;
}
.st5 {
  fill: #3b2314;
}
.st6 {
  opacity: 0.6;
  fill: url(#SVGID_1_);
}
.st7 {
  opacity: 0.6;
  fill: url(#SVGID_2_);
}
.st8 {
  fill: url(#SVGID_3_);
}
.st9 {
  fill: url(#SVGID_4_);
}
.st10 {
  fill: url(#SVGID_5_);
}
.st11 {
  fill: url(#SVGID_6_);
}
.st12 {
  fill: url(#SVGID_7_);
}
.st13 {
  fill: url(#SVGID_8_);
}
.st14 {
  fill: url(#SVGID_9_);
}
.st15 {
  fill: url(#SVGID_10_);
}
.st16 {
  fill: url(#SVGID_11_);
}
.st17 {
  fill: url(#SVGID_12_);
}
.st18 {
  fill: url(#SVGID_13_);
}
.st19 {
  fill: url(#SVGID_14_);
}
.st20 {
  fill: url(#SVGID_15_);
}
.st21 {
  fill: url(#SVGID_16_);
}
.st22 {
  fill: url(#SVGID_17_);
}
.st23 {
  fill: url(#SVGID_18_);
}
.st24 {
  fill: url(#SVGID_19_);
}
.st25 {
  fill: url(#SVGID_20_);
}
