.st0 {
  fill: url(#SVGID_1_);
}
.st1 {
  fill: url(#SVGID_2_);
}
.st2 {
  fill: #ffffff;
}
.st3 {
  fill: url(#SVGID_3_);
}
.st4 {
  fill: url(#SVGID_4_);
}
.st5 {
  fill: url(#SVGID_5_);
}
.st6 {
  fill: url(#SVGID_6_);
}
.st7 {
  fill: url(#SVGID_7_);
}
.st8 {
  fill: url(#SVGID_8_);
}
.st9 {
  fill: url(#SVGID_9_);
}
.st10 {
  fill: url(#SVGID_10_);
}
.st11 {
  fill: url(#SVGID_11_);
}
.st12 {
  fill: url(#SVGID_12_);
}
.st13 {
  fill: url(#SVGID_13_);
}
.st14 {
  fill: #231f20;
}
.st15 {
  opacity: 0.6;
  fill: url(#SVGID_14_);
}
.st16 {
  fill: url(#SVGID_15_);
}
.st17 {
  opacity: 0.6;
  fill: url(#SVGID_16_);
}
.st18 {
  fill: none;
  stroke: #231f20;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
