.st0 {
  fill: url(#SVGID_1_);
}
.st1 {
  fill: url(#SVGID_2_);
}
.st2 {
  fill: #d2cea9;
}
.st3 {
  fill: url(#SVGID_3_);
}
.st4 {
  fill: url(#SVGID_4_);
}
.st5 {
  fill: #f1f1f2;
}
.st6 {
  fill: url(#SVGID_5_);
}
