@font-face {
  font-family: "Frutiger LT Std";
  src: url("/fonts/FrutigerLTStd-Bold.woff2") format("woff2"),
    url("/fonts/FrutigerLTStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
  font-family: "Public Sans", sans-serif;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

.story-content {
  @apply text-base;
}

.story-content h1 {
  @apply mt-2 text-2xl;
}

.story-content h2 {
  @apply mt-2 text-xl;
}

.story-content h3 {
  @apply mt-2 text-lg;
}

.story-content h4 {
  @apply mt-2 text-base;
}

.story-content p {
  @apply mt-2;
}

.story-content ul,
.story-content ol {
  @apply ml-2;
}

.story-content ol {
  @apply list-decimal;
}

.story-content ul {
  @apply list-disc;
}

.story-content a {
  @apply text-blue-400;
}

.story-content p {
  @apply mt-2;
}
