@media (min-width: 761px) {
  #fish {
    animation: spinFish 4s ease-in-out infinite;
  }
}
#fish .st0 {
  fill: url(#SVGID_1_);
}
#fish .st1 {
  fill: #d6de23;
}
#fish .st2 {
  fill: url(#SVGID_2_);
}
#fish .st3 {
  fill: url(#SVGID_3_);
}
#fish .st4 {
  fill: #c2c32f;
}
#fish .st5 {
  fill: url(#SVGID_4_);
}
#fish .st6 {
  fill: #231f20;
}
#fish .st7 {
  opacity: 0.6;
  fill: url(#SVGID_5_);
}
#fish .st8 {
  fill: url(#SVGID_6_);
}
#fish .st9 {
  fill: url(#SVGID_7_);
}

@keyframes spinFish {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(-30px);
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: rotate(180deg) translateY(-11px);
  }
  50% {
    opacity: 0;
    transform: rotate(250deg) translateY(0px);
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) translateY(-30px);
  }
}
