.mountainsBirds0 {
  fill: #f8d940;
}
.mountainsBirds1 {
  fill: #231f20;
}
.mountainsBirds2 {
  fill: #d8a170;
}
.mountainsBirds3 {
  fill: #ffffff;
}
.mountainsBirds4 {
  fill: #be2026;
}
.mountainsBirds5 {
  fill: #3b2314;
}
.mountainsBirds6 {
  opacity: 0.6;
  fill: url(#MOUNTAINS_BIRDS_SVGID_1_);
}
.mountainsBirds7 {
  opacity: 0.6;
  fill: url(#MOUNTAINS_BIRDS_SVGID_2_);
}
.mountainsBirds8 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_3_);
}
.mountainsBirds9 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_4_);
}
.mountainsBirds10 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_5_);
}
.mountainsBirds11 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_6_);
}
.mountainsBirds12 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_7_);
}
.mountainsBirds13 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_8_);
}
.mountainsBirds14 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_9_);
}
.mountainsBirds15 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_10_);
}
.mountainsBirds16 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_11_);
}
.mountainsBirds17 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_12_);
}
.mountainsBirds18 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_13_);
}
.mountainsBirds19 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_14_);
}
.mountainsBirds20 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_15_);
}
.mountainsBirds21 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_16_);
}
.mountainsBirds22 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_17_);
}
.mountainsBirds23 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_18_);
}
.mountainsBirds24 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_19_);
}
.mountainsBirds25 {
  fill: url(#MOUNTAINS_BIRDS_SVGID_20_);
}

@media (min-width: 761px) {
  .bird-1 {
    z-index: 25;
    animation: bird1Fly 5s linear infinite;
  }
  .bird-2 {
    z-index: 25;
    animation: bird2Fly 5s linear infinite;
  }
  .bird-1 .wing.flipped,
  .bird-2 .wing.flipped {
    transform: scaleX(-1);
  }
  .mountains {
    z-index: 30;
  }
}

@keyframes bird1Fly {
  0% {
    transform: translate(-27%, 15%);
  }
  50% {
    transform: translate(10%, 0);
  }
  100% {
    transform: translate(40%, 10%);
  }
}

@keyframes bird2Fly {
  0% {
    transform: translate(-27%, 15%);
  }
  50% {
    transform: translate(10%, 0);
  }
  100% {
    transform: translate(30%, 10%);
  }
}
