#windmill .windmill0 {
  fill: url(#WINDMILL_SVGID_1_);
}
#windmill .windmill1 {
  fill: #d2cea9;
}
#windmill .windmill2 {
  fill: url(#WINDMILL_SVGID_2_);
}
#windmill .windmill3 {
  fill: url(#WINDMILL_SVGID_3_);
}
#windmill .windmill4 {
  fill: url(#WINDMILL_SVGID_4_);
}
#windmill .windmill5 {
  fill: #f1f1f2;
}

@media (min-width: 761px) {
  #windmill .windmill5 {
    position: absolute;
    animation: rotateBlades 8s linear infinite;
    transform-origin: center center;
    width: 105px;
    height: 105px;
  }
}

@keyframes rotateBlades {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
